# FastAPI backend frame
fastapi
uvicorn[standard]

# HTTP request
httpx

# 数据模型与校验
pydantic

# test tool
pytest
Faker

# OpenAI GPT-4 / GPT-3.5
openai

# Cohere model
cohere

# Huggingface Hub（DeepSeek R1 & Transformers）
huggingface_hub
transformers

# read .env 
python-dotenv
